<a href="https://colab.research.google.com/github/iam-fern/Generate_data/blob/main/ex_sampling_1000rep_n20_x8_norm_sas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

import statistics as stats
import scipy.stats as ss
from scipy.stats import f_oneway
from scipy import stats
import scipy.stats as stats
import time
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_csv('https://github.com/iam-fern/Research/raw/main/sampling_1000rep_n20_x8_norm_sas.csv', index_col=['rep', 'index'])
df

                   x1        x2        x3  ...           Y      y_hat       e_hat
rep   index                                ...
0.0   0.0    1.868140  0.583364  1.494193  ...   15.928207 -44.242300   60.170507
      1.0   -0.373603  0.069565  0.227652  ...    1.560898   2.587091   -1.026193
      2.0   -0.443946 -3.527666 -0.229057  ...   -3.195751   1.586579   -4.782330
      3.0   -0.351806  0.806780  0.092311  ...    2.380958   5.606966   -3.226008
      4.0    1.162220  0.785224 -2.454844  ...   13.644840  16.568626   -2.923786
...               ...       ...       ...  ...         ...        ...         ...
999.0 15.0   0.431803  0.974142  1.876509  ...   12.169386 -27.896047   40.065433
      16.0   0.674929 -0.304904  0.166609  ...   11.559820 -12.320364   23.880184
      17.0  -0.623644 -0.462469  1.218464  ...   -0.466749  -7.658677    7.191927
      18.0  -0.546382  1.448033  0.373805  ...    1.353311   6.171396   -4.818084
      19.0   2.476500 -0.623968 -0.928159  ... -458.868148 -24.605415 -434.262733

[20000 rows x 7 columns]

In [3]:
# ลบข้อมูลที่มี missing values
table = df.dropna()
table

                   x1        x2        x3  ...           Y      y_hat       e_hat
rep   index                                ...
0.0   0.0    1.868140  0.583364  1.494193  ...   15.928207 -44.242300   60.170507
      1.0   -0.373603  0.069565  0.227652  ...    1.560898   2.587091   -1.026193
      2.0   -0.443946 -3.527666 -0.229057  ...   -3.195751   1.586579   -4.782330
      3.0   -0.351806  0.806780  0.092311  ...    2.380958   5.606966   -3.226008
      4.0    1.162220  0.785224 -2.454844  ...   13.644840  16.568626   -2.923786
...               ...       ...       ...  ...         ...        ...         ...
999.0 15.0   0.431803  0.974142  1.876509  ...   12.169386 -27.896047   40.065433
      16.0   0.674929 -0.304904  0.166609  ...   11.559820 -12.320364   23.880184
      17.0  -0.623644 -0.462469  1.218464  ...   -0.466749  -7.658677    7.191927
      18.0  -0.546382  1.448033  0.373805  ...    1.353311   6.171396   -4.818084
      19.0   2.476500 -0.623968 -0.928159  ... -458.868148 -24.605415 -434.262733

[20000 rows x 7 columns]

In [4]:
table.reset_index(inplace=True)
table

         rep  index        x1  ...           Y      y_hat       e_hat
0        0.0    0.0  1.868140  ...   15.928207 -44.242300   60.170507
1        0.0    1.0 -0.373603  ...    1.560898   2.587091   -1.026193
2        0.0    2.0 -0.443946  ...   -3.195751   1.586579   -4.782330
3        0.0    3.0 -0.351806  ...    2.380958   5.606966   -3.226008
4        0.0    4.0  1.162220  ...   13.644840  16.568626   -2.923786
...      ...    ...       ...  ...         ...        ...         ...
19995  999.0   15.0  0.431803  ...   12.169386 -27.896047   40.065433
19996  999.0   16.0  0.674929  ...   11.559820 -12.320364   23.880184
19997  999.0   17.0 -0.623644  ...   -0.466749  -7.658677    7.191927
19998  999.0   18.0 -0.546382  ...    1.353311   6.171396   -4.818084
19999  999.0   19.0  2.476500  ... -458.868148 -24.605415 -434.262733

[20000 rows x 9 columns]

In [5]:
table.set_index(['rep', 'index'], inplace=True)

In [6]:
table

                   x1        x2        x3  ...           Y      y_hat       e_hat
rep   index                                ...
0.0   0.0    1.868140  0.583364  1.494193  ...   15.928207 -44.242300   60.170507
      1.0   -0.373603  0.069565  0.227652  ...    1.560898   2.587091   -1.026193
      2.0   -0.443946 -3.527666 -0.229057  ...   -3.195751   1.586579   -4.782330
      3.0   -0.351806  0.806780  0.092311  ...    2.380958   5.606966   -3.226008
      4.0    1.162220  0.785224 -2.454844  ...   13.644840  16.568626   -2.923786
...               ...       ...       ...  ...         ...        ...         ...
999.0 15.0   0.431803  0.974142  1.876509  ...   12.169386 -27.896047   40.065433
      16.0   0.674929 -0.304904  0.166609  ...   11.559820 -12.320364   23.880184
      17.0  -0.623644 -0.462469  1.218464  ...   -0.466749  -7.658677    7.191927
      18.0  -0.546382  1.448033  0.373805  ...    1.353311   6.171396   -4.818084
      19.0   2.476500 -0.623968 -0.928159  ... -458.868148 -24.605415 -434.262733

[20000 rows x 7 columns]

In [7]:
def get_result(run_replicate, percent_data):
    new_table = table.loc[run_replicate]

    # เรียง data จากน้อยไปมากตาม x1
    new_table_sort = new_table.sort_values('x1')

    new_table_sort.reset_index(inplace=True)

    #new_table_sort.drop(['index'], axis=1, inplace=True)


    # แบ่งข้อมูลกลุ่มที่ 1
    table1 = new_table_sort.iloc[:int(percent_data*new_table_sort.shape[0]) , :]
    # define respones variable
    y = table1['Y']
    # define predictor variable
    x = table1[['x1', 'x2', 'x3']]
    # add constant to predictor variable
    x = sm.add_constant(x)
    # fit linear regression model
    model1 = sm.OLS(y, x).fit()

    # หาค่า df กลุ่ม 1
    DF1 = model1.df_resid
    # หาค่า SSE1 : Residual sum of squares
    SSE1 = model1.ssr
    # หาค่า MSE1
    MSE1 = model1.mse_resid


    # แบ่งข้อมูลกลุ่มที่ 2
    table2 = new_table_sort.iloc[int((1-percent_data)*new_table_sort.shape[0]): , :]

    y = table2['Y']
    x = table2[['x1', 'x2', 'x3']]
    x = sm.add_constant(x)
    model2 = sm.OLS(y, x).fit()
    #print(model.summary())

    # หาค่า df กลุ่ม 2
    DF2 = model2.df_resid
    # หาค่า SSE2 : : Residual sum of squares
    SSE2 = model2.ssr
    # หาค่า MSE2
    MSE2 = model2.mse_resid

    df2 = DF2+1
    df1 = DF1+1

    # ค่าสถิติทดสอบ
    GQ_test = (SSE2/df2) / (SSE1/df1)

    # คำนวณค่า p-value
    # sf(x, dfn, dfd, loc=0, scale=1) : Survival function (also defined as 1 - cdf, but sf is sometimes more accurate)
    two_tailed = 2.0*(1.0-(ss.f.cdf(GQ_test, df2, df1)))

    # pdf(x, dfn, dfd, loc=0, scale=1) : Probability density function
    p_greater = ss.f.cdf(GQ_test, df2, df1)
    
    return df2, df1, SSE2, SSE1, MSE2, MSE1, GQ_test, two_tailed, p_greater
    

    # เปรียบเทียบค่า p-value กับค่า alpha
    # Homoscedasticity : 0
    # Heteroscedasticity : 1
    #if p_value < alpha:
        #result_test='Reject005=0 : Heteroscedasticity '
        #result_test01=1
    #else:
        #result_test='Reject005=1 : Homoscedasticity '
        #result_test01=0
    
    #return df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, result_test, p_value, result_test01


# สร้าง list ของ replicates
list_replicate=list({i[0] for i in table.index})
list_replicate.sort()

# สร้าง list เพื่อเก็บค่า ทุกรอบที่ run
list_df1=[]
list_df2=[]
list_SSE1=[]
list_SSE2=[]
list_MSE1=[]
list_MSE2=[]
list_GQ_test=[]
#list_result_test=[]
list_two_tailed=[]
list_p_greater=[]
#list_result_test01=[]


# กำหนด % การแบ่งข้อมูล
percent_data=0.4

# ใช้ for loop สำหรับการ run ทุก replicates
for run_replicate in list_replicate:
    #DF1, DF2, SSE1, SSE2, M_SSE1, M_SSE2, GQ_test, result_test=get_result(run_replicate, percent_data)
    df1, df2, SSE1, SSE2, MSE1, MSE2, GQ_test, two_tailed, p_greater=get_result(run_replicate, percent_data)
    list_df1.append(df1)
    list_SSE1.append(SSE1)
    list_df2.append(df2)
    list_SSE2.append(SSE2)
    list_MSE1.append(MSE1)
    list_MSE2.append(MSE2)
    list_GQ_test.append(GQ_test)
    #list_result_test.append(result_test)
    list_two_tailed.append(two_tailed)
    list_p_greater.append(p_greater)
    #list_result_test01.append(result_test01)

In [8]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)
result=result[(result["two_tailed"]<=1) & (result["greater"]<=1)]
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")

result.astype(str)

           df1  df2                SSE1                SSE2                MSE1                 MSE2             GQ_test              two_tailed             greater                       Result_test
Replicate
0.0        5.0  5.0  30106347.529685352   836.5461138397757   7526586.882421338   209.13652845994392   35988.86783598357   4.421463195569686e-11  0.9999999999778927  Reject005=0 : Heteroscedasticity
2.0        5.0  5.0   12466923.83446053   348356.9625957647  3116730.9586151326    87089.24064894118   35.78778429334056   0.0012852936803358084  0.9993573531598321  Reject005=0 : Heteroscedasticity
3.0        5.0  5.0   153589.3983421984   136.5204447755942    38397.3495855496    34.13011119389855   1125.028552277729   2.551185047661164e-07  0.9999998724407476  Reject005=0 : Heteroscedasticity
4.0        5.0  5.0   589.0802906330792   49.18254004082696   147.2700726582698    12.29563501020674   11.97742715492281    0.016452278241565255  0.9917738608792174  Reject005=0 : Heteroscedasticity
5.0        5.0  5.0  17668.869354329243   581.8286494432422   4417.217338582311   145.45716236081054   30.36782284825054   0.0019046714392847441  0.9990476642803576  Reject005=0 : Heteroscedasticity
...        ...  ...                 ...                 ...                 ...                  ...                 ...                     ...                 ...                               ...
994.0      5.0  5.0   3844205.530715675   38.59209315975442   961051.3826789188    9.648023289938605    99611.2212624058   3.469224907348689e-12  0.9999999999982654  Reject005=0 : Heteroscedasticity
996.0      5.0  5.0  4684686.9052302195  162218.98933552357  1171171.7263075549    40554.74733388089  28.878782468190007    0.002147176027223585  0.9989264119863882  Reject005=0 : Heteroscedasticity
997.0      5.0  5.0    266123.689939606   9092.231560359645    66530.9224849015   2273.0578900899113  29.269348033309374   0.0020795665783566175  0.9989602167108217  Reject005=0 : Heteroscedasticity
998.0      5.0  5.0  2606.1607669539344  0.9804097518255669   651.5401917384836  0.24510243795639172  2658.2362752932086  2.9782524668675592e-08  0.9999999851087377  Reject005=0 : Heteroscedasticity
999.0      5.0  5.0  55553.991610558725  185.30342181808052  13888.497902639681    46.32585545452013   299.8001389585682   6.898982835013001e-06  0.9999965505085825  Reject005=0 : Heteroscedasticity

[512 rows x 10 columns]

In [9]:
# สร้างตารางผลลัพธ์
alpha = 0.05
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
result=pd.DataFrame({"Replicate":list_replicate, "df1":list_df1, "df2":list_df2, "SSE1":list_SSE1,
                     "SSE2":list_SSE2, "MSE1":list_MSE1, "MSE2":list_MSE2,
                     "GQ_test":list_GQ_test, "two_tailed":list_two_tailed, "greater":list_p_greater})
result.set_index(['Replicate'], inplace=True)

result['two_tailed_new']=result[["two_tailed","greater"]].apply(lambda value: value[0] if value[0]<0.5 else 2*value[1], axis=1)
result["Result_test"]=result["two_tailed"].apply(lambda p_value: 'Reject005=0 : Heteroscedasticity' 
                                                                  if p_value < alpha else 'Reject005=1 : Homoscedasticity')
#two_tailed_new_show=two_tailed_new.drop(columns="greater")
result_show=result.drop(columns=["two_tailed", "greater"])
result_show.astype(str)

           df1  df2                SSE1                SSE2                MSE1                 MSE2                GQ_test          two_tailed_new                       Result_test
Replicate
0.0        5.0  5.0  30106347.529685352   836.5461138397757   7526586.882421338   209.13652845994392      35988.86783598357   4.421463195569686e-11  Reject005=0 : Heteroscedasticity
1.0        5.0  5.0  1993.7782736658035   3528.483306900811  498.44456841645086    882.1208267252027     0.5650524886334259      0.5462079310009198    Reject005=1 : Homoscedasticity
2.0        5.0  5.0   12466923.83446053   348356.9625957647  3116730.9586151326    87089.24064894118      35.78778429334056   0.0012852936803358084  Reject005=0 : Heteroscedasticity
3.0        5.0  5.0   153589.3983421984   136.5204447755942    38397.3495855496    34.13011119389855      1125.028552277729   2.551185047661164e-07  Reject005=0 : Heteroscedasticity
4.0        5.0  5.0   589.0802906330792   49.18254004082696   147.2700726582698    12.29563501020674      11.97742715492281    0.016452278241565255  Reject005=0 : Heteroscedasticity
...        ...  ...                 ...                 ...                 ...                  ...                    ...                     ...                               ...
995.0      5.0  5.0  23.412065834046615   359292.8221331924   5.853016458511654     89823.2055332981  6.516151838226147e-05   3.723109016236897e-10    Reject005=1 : Homoscedasticity
996.0      5.0  5.0  4684686.9052302195  162218.98933552357  1171171.7263075549    40554.74733388089     28.878782468190007    0.002147176027223585  Reject005=0 : Heteroscedasticity
997.0      5.0  5.0    266123.689939606   9092.231560359645    66530.9224849015   2273.0578900899113     29.269348033309374   0.0020795665783566175  Reject005=0 : Heteroscedasticity
998.0      5.0  5.0  2606.1607669539344  0.9804097518255669   651.5401917384836  0.24510243795639172     2658.2362752932086  2.9782524668675592e-08  Reject005=0 : Heteroscedasticity
999.0      5.0  5.0  55553.991610558725  185.30342181808052  13888.497902639681    46.32585545452013      299.8001389585682   6.898982835013001e-06  Reject005=0 : Heteroscedasticity

[1000 rows x 9 columns]

In [10]:
result_show['Result_test'].value_counts()

Reject005=1 : Homoscedasticity      611
Reject005=0 : Heteroscedasticity    389
Name: Result_test, dtype: int64